body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
}

.cntHeader{
    width: 79em;
    height: 20em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cntName{
    width: 79em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.boxName{
    height: 6em;
    width: 22em;
    border: 0.5px solid black;
    text-align: center;
    padding: 1.3em;
    text-align: center;
}

.cntNav{
    width: 79em;
    height: 1.6em;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
}

.navPhotography{
    width: 26.3em;
    height: 2,6em;
    text-align: end;
}

.navDesingApp{
    width: 10em;
    height: 2,6em;
    text-align: center;
}

.navContac{
    width: 26.3em;
    height: 2,6em;
    text-align: start;
}

.cntMain{
    width: 79em;
    height: 32em;
    background-image: url(/img/geometric1.jpg);
    /*border: 0.5px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cntCenter{
    width: 54em;
    height: 32em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.mark1{
    width: 40em;
    height: 24em;
    border: 0.5px solid black;
}

.cntAside{
    width: 26em;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.mark2{
    width: 16em;
    height: 20em;
    border: 0.5px solid black;
    margin-top: -11em;
    background-color: dimgray;
}

.mark3{
    width: 20em;
    height: 10em;
    border: 0.5px solid black;
}

.cntFooter{
    width: 79em;
    height: 10em;
    border: 0.5px solid black;
}